In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('/home/manshrestha/Downloads/aw_blog.csv').fillna('')
df.columns

Index([u'post_id', u'title', u'url_key', u'filename', u'post_content',
       u'status', u'created_time', u'update_time', u'identifier', u'user',
       u'update_user', u'meta_keywords', u'meta_description', u'comments',
       u'tags', u'short_content', u'query'],
      dtype='object')

In [5]:
excludes = ['post_id', 'status', 'comments']

In [6]:
required_cols = ['id', 'title', 'url_key', 'short_content', 'content', 'author_name', 'status' \
                    'created_at', 'updated_at', 'publish_at', 'is_allow_comments', 'meta_title', \
                        'meta_description', 'product_condition']

In [7]:
res_df = pd.DataFrame()

In [8]:
res_df['id'] = df['post_id']

In [9]:
res_df['title'] = ['"' + str(titles) + '"' for titles in df['title']]

In [10]:
res_df['url_key'] = ['"' + str(idents) + '"' for idents in df['identifier']]

In [11]:
res_df['short_content'] = ['"' + str(sc) + '"' for sc in df['short_content']]

In [12]:
res_df['content'] = ['"' + pc.replace('"', '\"')  + '"' if '"' in pc else '"' + str(pc) + '"' \
                         for pc in df['post_content']]

In [13]:
res_df['author_name'] = ['"' + str(users) + '"' for users in df['user']]

In [14]:
res_df['status'] = ['"publication"' if stats == 1 else '"draft"' for stats in df['status']]

In [15]:
res_df['created_at'] = ['"' + str(ct) + '"' for ct in df['created_time']]

In [16]:
res_df['updated_at'] = ['"' + str(ut) + '"' for ut in df['update_time']]

In [17]:
res_df['publish_at'] = ['"' + str(ct) + '"' for ct in df['created_time']]

In [18]:
res_df['is_allow_comments'] = df['comments']

In [19]:
res_df['meta_title'] = ['"' + str(titles) + '"' for titles in df['title']]

In [20]:
res_df['meta_description'] = ['"' + str(titles) + '"' for titles in df['title']]

In [21]:
res_df['product_condition'] = '""'

In [22]:
res_df.head(2)

,id,title,url_key,short_content,content,author_name,status,created_at,updated_at,publish_at,is_allow_comments,meta_title,meta_description,product_condition
0,1,"""Book Signing ""","""must-have-magento-extensions""","""Book Signing of Ones Man's Folly ""","""Join us for a book signing of One Man's Folly...","""BRAD WEITZ""","""draft""","""2014-09-25 19:28:00""","""2014-10-07 20:21:12""","""2014-09-25 19:28:00""",1,"""Book Signing ""","""Book Signing """,""""""
1,3,"""Charlotte October Events ""","""sidewallk0""","""""","""October 22, 2014 Paint & Sip with Michele Har...","""joshua li""","""draft""","""2014-09-03 13:41:00""","""2014-10-10 19:37:58""","""2014-09-03 13:41:00""",1,"""Charlotte October Events ""","""Charlotte October Events """,""""""

In [39]:
def create_query(val):
    query = "insert into aw_blog_post values({0}, {1}, {2}, {3}, {4}, {5}, {6}, {7}, {8}, {9}, {10}, {11}, {12}, {13})" \
                .format(val.id, val.title, val.url_key, val.short_content, val.content, val.author_name, val.status, \
                    val.created_at, val.updated_at, val.publish_at, val.is_allow_comments, val.meta_title, \
                        val.meta_description, val.product_condition)
    return query


res_df['query'] = res_df.apply(create_query, axis=1)

In [41]:
res_df.head()

,id,title,url_key,short_content,content,author_name,status,created_at,updated_at,publish_at,is_allow_comments,meta_title,meta_description,product_condition,query
0,1,"""Book Signing ""","""must-have-magento-extensions""","""Book Signing of Ones Man's Folly ""","""Join us for a book signing of One Man's Folly...","""BRAD WEITZ""","""draft""","""2014-09-25 19:28:00""","""2014-10-07 20:21:12""","""2014-09-25 19:28:00""",1,"""Book Signing ""","""Book Signing ""","""""","insert into aw_blog_post values(1, ""Book Signi..."
1,3,"""Charlotte October Events ""","""sidewallk0""","""""","""October 22, 2014 Paint & Sip with Michele Har...","""joshua li""","""draft""","""2014-09-03 13:41:00""","""2014-10-10 19:37:58""","""2014-09-03 13:41:00""",1,"""Charlotte October Events ""","""Charlotte October Events ""","""""","insert into aw_blog_post values(3, ""Charlotte ..."
2,4,"""Atlanta October Events ""","""slidewalk2""","""""","""October 24th & 25th Arts Show featuring Kitty...","""joshua li""","""draft""","""2014-09-04 13:42:00""","""2014-10-10 19:37:42""","""2014-09-04 13:42:00""",1,"""Atlanta October Events ""","""Atlanta October Events ""","""""","insert into aw_blog_post values(4, ""Atlanta Oc..."
3,5,"""Book Signing ""","""sidewalk1""","""Book Sighing of One Man's Folly with Furlow G...","""Book Sighing of One Man's Folly with Furlow G...","""joshua li""","""publication""","""2014-09-19 12:20:00""","""2014-09-19 16:52:48""","""2014-09-19 12:20:00""",0,"""Book Signing ""","""Book Signing ""","""""","insert into aw_blog_post values(5, ""Book Signi..."
4,6,"""Fall Fashion Trunk Show ""","""sidewalk""","""Fall Fashion Trunk Show ""","""Fall Fashion Trunk Featuring GiGi New York , ...","""joshua li""","""publication""","""2014-09-01 13:44:00""","""2014-09-19 18:04:22""","""2014-09-01 13:44:00""",1,"""Fall Fashion Trunk Show ""","""Fall Fashion Trunk Show ""","""""","insert into aw_blog_post values(6, ""Fall Fashi..."

In [42]:
res_df.to_csv('blog_post.csv', index=False)