In [7]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame({'a':[1,2,3,7], 'b':[4,5,6,np.NaN]})

In [17]:
df

   a    b
0  1  4.0
1  2  5.0
2  3  6.0
3  7  NaN

In [23]:
df.apply(lambda x: x.count())

a    4
b    3
dtype: int64

In [20]:
def check(col):
    return col.count()

df.apply(check)

a    4
b    3
dtype: int64

In [21]:
df.apply(lambda x: sum(x))

a    13.0
b     NaN
dtype: float64