In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})

In [3]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [4]:
df.ix[df.AAA >= 5,'BBB'] = -1

In [5]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   -1   50
2    6   -1  -30
3    7   -1  -50

In [6]:
df.ix[df.AAA >= 5, ['BBB', 'CCC']] = 555

In [7]:
df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [8]:
df.ix[df.AAA < 5, ['BBB', 'CCC']] = 2000

In [9]:
df

   AAA   BBB   CCC
0    4  2000  2000
1    5   555   555
2    6   555   555
3    7   555   555

In [10]:
df_mask = pd.DataFrame({'AAA' : [True] * 4, 'BBB' : [False] * 4,'CCC' : [True, False] * 2})

In [11]:
df_mask

    AAA    BBB    CCC
0  True  False   True
1  True  False  False
2  True  False   True
3  True  False  False

In [12]:
df = pd.DataFrame({'AAA': [4,5,6,7], 'BBB': [10,20,30,40], 'CCC': [100,50,-30,-50]})

In [13]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [14]:
import numpy as np

In [15]:
df['logic'] = np.where(df['AAA'] > 5, 'high', 'low')

In [16]:
df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

In [17]:
# split a frame with boolean criterion
df = pd.DataFrame({'AAA': [4,5,6,7], 'BBB': [10,20,30,40], 'CCC': [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [18]:
dflow = df[df['AAA'] <= 5]
dflow

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [19]:
dfhigh = df[df['AAA'] > 5]
dfhigh

   AAA  BBB  CCC
2    6   30  -30
3    7   40  -50

In [20]:
# select with multi-column criteria
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [21]:
newSeries = df.loc[(df['BBB'] < 25) & (df['CCC'] >= -40), 'AAA']
newSeries

0    4
1    5
Name: AAA, dtype: int64

In [22]:
newseries = df.loc[(df['BBB'] > 25) | (df['CCC'] >= -40), 'AAA']
newseries

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

In [23]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [24]:
df.ix[df.AAA < 5, ['BBB', 'CCC']]

   BBB  CCC
0   10  100

In [25]:
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [26]:
df.loc[(df['BBB'] > 25) | (df['CCC'] >= 75), 'AAA'] = 0.1

In [27]:
df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

In [28]:
df = pd.DataFrame({'AAA': [4,5,6,7], 'BBB': [10,20,30,40], 'CCC': [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [29]:
aValue = 43.0

In [30]:
# select value with data closest to given value
df.ix[(df.CCC-aValue).abs().argsort()]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [31]:
# dynamically reduce a list of criteria using a binary operator
df = pd.DataFrame({'AAA': [4,5,6,7], 'BBB': [10,20,30,40], 'CCC': [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [32]:
Crit1 = df.AAA <= 5.5
Crit2 = df.BBB == 10.0
Crit3 = df.CCC > -40.0

In [33]:
CritList = [Crit1, Crit2, Crit3]
CritList

[0     True
 1     True
 2    False
 3    False
 Name: AAA, dtype: bool, 0     True
 1    False
 2    False
 3    False
 Name: BBB, dtype: bool, 0     True
 1     True
 2     True
 3    False
 Name: CCC, dtype: bool]

In [34]:
import functools
AllCrit = functools.reduce(lambda y, z: y & z, CritList)

In [35]:
AllCrit

0     True
1    False
2    False
3    False
dtype: bool

In [36]:
df[AllCrit]

   AAA  BBB  CCC
0    4   10  100

In [37]:
# selection - dataframes - indexing
df = pd.DataFrame({'AAA': [4,5,6,7], 'BBB': [10,20,30,40], 'CCC': [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [38]:
# using both row and label value conditionals
df[(df.AAA <= 6) & (df.index.isin([0,2,4]))]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

In [39]:
data = {'AAA': [4,5,6,7], 'BBB': [10,20,30,40], 'CCC': [100,50,-30,-50]}
data

{'AAA': [4, 5, 6, 7], 'BBB': [10, 20, 30, 40], 'CCC': [100, 50, -30, -50]}

In [40]:
df = pd.DataFrame(data = data, index=['foo', 'bar', 'boo', 'kar'])
df

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [41]:
# label slicing, inclusive of end
df.loc['bar':'kar']

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [42]:
# generic slicing - location/index slicing, exclusive of end
df.ix[0:3]

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30

In [43]:
# generic slicing - label, inclusive of end
df.ix['bar':'kar']

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [44]:
# iloc - position oriented
# loc - label oriented
# ix - mimic loc, label oriented, if index starts from 1
# ix - mimic iloc, position oriented, if index starts from o, natural indexing

In [45]:
# using inverse ~ to take the complement of the mask
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40], 'CCC' : [100,50,-30,-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [46]:
df[~((df.AAA <= 6) & (df.index.isin([0,2,4])))]

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

In [47]:
# panels
rng = pd.date_range('1/1/2013', periods = 100, freq='D')
rng

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10', '2013-01-11', '2013-01-12',
               '2013-01-13', '2013-01-14', '2013-01-15', '2013-01-16',
               '2013-01-17', '2013-01-18', '2013-01-19', '2013-01-20',
               '2013-01-21', '2013-01-22', '2013-01-23', '2013-01-24',
               '2013-01-25', '2013-01-26', '2013-01-27', '2013-01-28',
               '2013-01-29', '2013-01-30', '2013-01-31', '2013-02-01',
               '2013-02-02', '2013-02-03', '2013-02-04', '2013-02-05',
               '2013-02-06', '2013-02-07', '2013-02-08', '2013-02-09',
               '2013-02-10', '2013-02-11', '2013-02-12', '2013-02-13',
               '2013-02-14', '2013-02-15', '2013-02-16', '2013-02-17',
               '2013-02-18', '2013-02-19', '2013-02-20', '2013-02-21',
               '2013-02-22', '2013-02-23', '2013-02-24', '2013-02-25',
               '2013-02-26', '2013-02-27', '2013-02-28', '2013-03-01',
               '2013-03-02', '2013-03-03', '2013-03-04', '2013-03-05',
               '2013-03-06', '2013-03-07', '2013-03-08', '2013-03-09',
               '2013-03-10', '2013-03-11', '2013-03-12', '2013-03-13',
               '2013-03-14', '2013-03-15', '2013-03-16', '2013-03-17',
               '2013-03-18', '2013-03-19', '2013-03-20', '2013-03-21',
               '2013-03-22', '2013-03-23', '2013-03-24', '2013-03-25',
               '2013-03-26', '2013-03-27', '2013-03-28', '2013-03-29',
               '2013-03-30', '2013-03-31', '2013-04-01', '2013-04-02',
               '2013-04-03', '2013-04-04', '2013-04-05', '2013-04-06',
               '2013-04-07', '2013-04-08', '2013-04-09', '2013-04-10'],
              dtype='datetime64[ns]', freq='D')

In [48]:
data = np.random.randn(100, 4)
data

array([[-0.32989379, -0.40120034,  0.06028938,  1.32305158],
       [ 1.95007732,  0.72409573,  0.77450412,  1.67317373],
       [-0.69913078, -0.07583606,  0.22909229,  1.96489047],
       [-0.20269231, -1.19187455, -1.43302823,  1.16232372],
       [-0.2742657 , -0.57117109,  0.11812345, -0.03627654],
       [ 0.94601154, -0.21785146, -1.27252391, -1.08623358],
       [-0.81847998, -0.61488666, -0.2894965 , -1.68850365],
       [ 0.32280083,  0.03757785,  0.70640732,  0.521874  ],
       [-2.23798273, -0.55895885,  0.29317235,  2.23659684],
       [ 0.84993488,  0.09593225,  0.45931349, -0.32121012],
       [-0.81684015,  0.0440625 ,  0.31699549, -0.10566573],
       [ 2.88310888,  1.25694521,  0.5600356 ,  1.08391455],
       [-0.43999224, -0.30261296, -0.45120753, -0.08030893],
       [ 0.34671836,  0.63602801,  1.16627315,  1.11690509],
       [-0.57716848,  0.39514213, -1.26800812,  0.04125312],
       [-1.12770057, -1.82374463, -1.21134222, -1.34336728],
       [-0.87696626, -0.45009868,  0.79326482, -1.93345484],
       [ 0.39928528,  0.18923072, -0.63542389, -0.54770179],
       [-0.27279002, -2.48853556,  0.0145272 ,  0.88528512],
       [ 2.40442026,  0.77542252, -1.21650866, -0.04673267],
       [ 0.39875438, -0.32788276, -0.27496354,  0.09957401],
       [-2.89204467, -0.31097103, -1.05719035, -0.70395262],
       [ 0.74239852,  0.63939704, -0.06809569,  0.05833207],
       [ 0.87504557,  1.05738626,  1.34135927,  0.16822975],
       [ 0.30922569, -0.41919932, -0.37176167,  0.94125751],
       [ 1.25970597,  0.2100242 ,  1.78336823,  0.70859971],
       [-0.00868886,  0.02239691,  0.13741737, -0.96851063],
       [-0.19335733, -1.01295331,  1.04228921, -0.91346829],
       [-1.61847279,  0.01922454, -1.04959588, -0.71322785],
       [ 0.61936972, -1.59550318,  1.02772797, -1.05123572],
       [ 0.8142819 ,  0.36237035,  0.97976443,  0.08112614],
       [ 0.2859659 , -1.47131217,  1.81964223, -0.19189934],
       [ 0.83536997, -1.54169157,  0.11046712,  0.70529287],
       [ 0.98291751, -2.0899933 , -1.08066268,  0.41130197],
       [-0.12327796,  0.07350036,  1.8043066 ,  0.72108512],
       [ 0.08653879,  0.76530904,  1.9527483 , -1.12874096],
       [-1.5053259 ,  1.09285162, -1.02459101, -1.35611992],
       [-0.61132263,  1.00775966, -1.86005513,  1.39663064],
       [-1.60926913, -0.44261534, -0.2463475 ,  1.17683529],
       [ 0.74607199, -1.04038241, -0.86662621, -0.80802804],
       [-0.86116436,  1.52051432,  1.16028707, -0.55105338],
       [-0.3821071 , -1.85904634,  0.93048009, -2.00990696],
       [-0.17165396, -0.87682186,  1.52008121,  0.51676553],
       [ 1.19499556, -0.41791499,  1.8382527 ,  0.65140344],
       [-0.79903206, -0.1140159 ,  0.14970325,  0.28224803],
       [ 0.34454736, -1.52917598,  0.95210173, -0.91851551],
       [ 0.58255356,  2.18612631,  0.87182423, -0.75484864],
       [-0.46266769,  0.59316567, -0.05710017,  0.64756912],
       [-0.29009056, -1.08191037, -0.76757542, -0.36164359],
       [ 0.20730929, -0.14602991, -0.52622663,  0.80014027],
       [ 0.91625597, -1.84528714,  0.81081271, -0.27082042],
       [-0.33764278, -0.82686341, -0.75629957, -0.06190098],
       [ 0.4225123 ,  1.02331257,  0.38182878,  0.26195268],
       [-1.49745767, -1.21820548,  1.27087944, -0.78341312],
       [-3.21629217, -0.49007031, -0.95216093,  0.36931803],
       [ 0.24773758, -0.44165071, -0.33330511, -1.15898048],
       [ 0.50585108,  0.84722573,  0.32084697,  0.55099899],
       [-0.21403355,  1.18492096, -1.24163552, -0.17480282],
       [-0.17054264, -0.23106973, -2.23063075, -0.77841453],
       [-0.15724082, -1.17486472, -0.83483305, -0.05527024],
       [-0.26414958,  0.2781458 , -1.23182117, -1.1676397 ],
       [ 0.9699132 ,  1.87851204, -0.22669905,  0.10200787],
       [ 0.72497048, -0.02102492,  1.38043374,  1.58231567],
       [ 0.02661215,  0.14022535, -1.4185562 , -0.01365181],
       [-1.42870441, -0.14662089, -0.2594322 , -0.13202394],
       [-0.64740146, -0.36687983,  2.04368752,  0.20094403],
       [ 1.38826974,  0.49166117,  0.24732012, -1.15373482],
       [ 1.87185913,  1.73411935,  0.70865854,  1.7916429 ],
       [ 0.74086378,  0.80778021, -0.46473074,  2.00564858],
       [-1.18587527, -0.35195047, -0.51996223, -0.7569509 ],
       [-0.71721456,  0.82462398, -1.30029015,  1.17394383],
       [ 1.15698505,  0.58383525,  0.45796241, -0.116906  ],
       [-0.04751642, -1.34639677,  1.12778092,  0.07892059],
       [ 0.45903861, -0.72598603,  0.3968618 , -0.09294076],
       [-0.42763121, -0.54666646,  0.81139518, -0.10136011],
       [-0.64651636,  1.79564776, -0.82105379,  0.46688195],
       [ 1.02441428,  0.32155686, -0.09912915, -1.36337524],
       [ 0.413523  ,  1.73697297, -1.26409195, -0.92251816],
       [ 0.35431758,  0.27107529,  1.30418819,  0.31233963],
       [ 1.18690293, -1.22719661, -0.46280162, -1.01690853],
       [ 0.32427214, -1.16569494, -0.98604579, -0.6855953 ],
       [-1.18158263,  0.49007397,  0.73132976,  0.14992959],
       [-0.70592444,  0.66389892, -1.22243585,  0.97583882],
       [ 0.39880488, -1.05922525,  0.80232406, -0.57677195],
       [-0.51654317,  0.50554727, -1.53132477,  0.69876654],
       [-1.18756268, -0.15380624,  1.00481019,  2.13264482],
       [ 0.81955395, -0.14356039,  1.88077519, -0.02034269],
       [-1.68935475, -1.3354223 , -0.17800934,  0.86952986],
       [-1.82554143, -0.21958139, -0.73519527, -1.8695336 ],
       [-0.27503426, -0.31841345, -0.02810919,  0.52084126],
       [-2.45563508, -0.37895766, -0.91699995,  0.12126371],
       [ 0.21827447, -0.05303032,  0.68912426, -0.30661185],
       [ 0.17777947,  0.43208697,  0.70870324,  1.28579394],
       [ 1.68615599, -0.77619709,  0.77815775, -1.58715666],
       [-0.96881016, -0.94362334,  0.73254421,  0.65658678],
       [ 0.09588819,  0.66875453,  0.14697664,  0.42948747],
       [-1.13154609,  0.56239388, -0.68555523,  0.00749317],
       [-0.5642448 , -1.02046943,  0.0061015 ,  0.26834621],
       [-0.78914199,  0.67261518, -0.26411612, -0.3881119 ],
       [ 1.73837402, -0.59411058, -2.20828156, -0.80972479]])

In [49]:
cols = ['A', 'B', 'C', 'D']

In [73]:
df1, df2, df3 = pd.DataFrame(data, rng, cols), pd.DataFrame(data, rng, cols), pd.DataFrame(data, rng, cols)

In [78]:
pf = pd.Panel({'df1': df1, 'df2': df2, 'df3': df3})
pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 4 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to D

In [79]:
pf = pf.transpose(2, 0, 1)
pf

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 3 (major_axis) x 100 (minor_axis)
Items axis: A to D
Major_axis axis: df1 to df3
Minor_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00

In [80]:
pf['E'] = pd.DataFrame(data, rng, cols)
pf

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 3 (major_axis) x 100 (minor_axis)
Items axis: A to E
Major_axis axis: df1 to df3
Minor_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00

In [81]:
pf = pf.transpose(1, 2, 0)
pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 5 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to E

In [82]:
pf.loc[:, :, 'F'] = pd.DataFrame(data, rng, cols)
pf

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 100 (major_axis) x 6 (minor_axis)
Items axis: df1 to df3
Major_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00
Minor_axis axis: A to F

In [83]:
# efficiently and dynamically creating new columns using applymap
df = pd.DataFrame({'AAA': [1, 2, 1, 3], 'BBB': [1, 1, 2, 3], 'CCC': [2, 1, 3, 1]})
df

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    3    1

In [84]:
source_cols = df.columns
source_cols

Index([u'AAA', u'BBB', u'CCC'], dtype='object')

In [85]:
new_cols = [str(x) + '_cat' for x in source_cols]
new_cols

['AAA_cat', 'BBB_cat', 'CCC_cat']

In [86]:
categories = {1: 'Alpha', 2: 'Beta', 3: 'Charlie'}
categories

{1: 'Alpha', 2: 'Beta', 3: 'Charlie'}

In [87]:
df[new_cols] = df[source_cols].applymap(categories.get)
df

   AAA  BBB  CCC  AAA_cat  BBB_cat  CCC_cat
0    1    1    2    Alpha    Alpha     Beta
1    2    1    1     Beta    Alpha    Alpha
2    1    2    3    Alpha     Beta  Charlie
3    3    3    1  Charlie  Charlie    Alpha

In [88]:
# keep other columns when using min() with groupby
df = pd.DataFrame({'AAA': [1, 1, 1, 2, 2, 2, 3, 4], 'BBB': [2, 1, 3, 4, 5, 1, 2, 3]})
df

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    4    3

In [94]:
# get index of the minimum values by grouping, easier and simpler
df.loc[df.groupby('AAA')['BBB'].idxmin()]

   AAA  BBB
1    1    1
5    2    1
6    3    2
7    4    3

In [95]:
# sort then take first of each
df.sort_values(by='BBB').groupby('AAA', as_index=False).first()

   AAA  BBB
0    1    1
1    2    1
2    3    2
3    4    3

In [96]:
# create a multi-index from a labeled frame
df = pd.DataFrame({'row': [0, 1, 2], 'One_X': [1.1, 1.1, 1.1], 'One_Y': [1.2, 1.2, 1.2], 'Two_X': [1.11, 1.11, 1.11], 'Two_Y': [1.22, 1.22, 1.22]})
df

   One_X  One_Y  Two_X  Two_Y  row
0    1.1    1.2   1.11   1.22    0
1    1.1    1.2   1.11   1.22    1
2    1.1    1.2   1.11   1.22    2

In [97]:
# as labelled index
df = df.set_index('row')
df

     One_X  One_Y  Two_X  Two_Y
row
0      1.1    1.2   1.11   1.22
1      1.1    1.2   1.11   1.22
2      1.1    1.2   1.11   1.22

In [98]:
# with hierarchial columns
df.columns = pd.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.columns])
df

     One        Two
       X    Y     X     Y
row
0    1.1  1.2  1.11  1.22
1    1.1  1.2  1.11  1.22
2    1.1  1.2  1.11  1.22

In [99]:
# now stack and reset
df = df.stack(0).reset_index(1)
df

    level_1     X     Y
row
0       One  1.10  1.20
0       Two  1.11  1.22
1       One  1.10  1.20
1       Two  1.11  1.22
2       One  1.10  1.20
2       Two  1.11  1.22

In [100]:
df.columns = ['Sample', 'All_X', 'All_Y']
df

    Sample  All_X  All_Y
row
0      One   1.10   1.20
0      Two   1.11   1.22
1      One   1.10   1.20
1      Two   1.11   1.22
2      One   1.10   1.20
2      Two   1.11   1.22

In [101]:
# perform arithmetic with a multicolumn indexing that needs broadcasting
cols = pd.MultiIndex.from_tuples([(x, y) for x in ['A', 'B', 'C'] for y in ['O', 'I']])
cols

MultiIndex(levels=[[u'A', u'B', u'C'], [u'I', u'O']],
           labels=[[0, 0, 1, 1, 2, 2], [1, 0, 1, 0, 1, 0]])

In [102]:
df = pd.DataFrame(np.random.randn(2,6),index=['n','m'],columns=cols)
df

          A                   B                   C
          O         I         O         I         O         I
n  0.101353 -1.168850  0.931466 -1.062365  1.905948 -0.990318
m  0.112414 -0.638527 -1.336494  0.956947  0.128617  0.154946

In [103]:
df = df.div(df['C'],level=1)
df

          A                    B              C
          O         I          O         I    O    I
n  0.053177  1.180277   0.488715  1.072751  1.0  1.0
m  0.874018 -4.120971 -10.391262  6.176007  1.0  1.0

In [104]:
# slicing multi-index with xs
coords = [('AA', 'one'), ('AA', 'six'), ('BB', 'one'), ('BB', 'two'), ('BB', 'six')]
coords

[('AA', 'one'), ('AA', 'six'), ('BB', 'one'), ('BB', 'two'), ('BB', 'six')]

In [105]:
index = pd.MultiIndex.from_tuples(coords)
index

MultiIndex(levels=[[u'AA', u'BB'], [u'one', u'six', u'two']],
           labels=[[0, 0, 1, 1, 1], [0, 1, 0, 2, 1]])

In [106]:
df = pd.DataFrame([11, 22, 33, 44, 55], index, ['MyData'])
df

        MyData
AA one      11
   six      22
BB one      33
   two      44
   six      55

In [107]:
# To take the cross section of the 1st level and 1st axis the index
df.xs('BB', level=0, axis=0)

     MyData
one      33
two      44
six      55

In [111]:
df.xs('six', level=1, axis=0)

    MyData
AA      22
BB      55

In [113]:
    import itertools
    index = list(itertools.product(['Ada','Quinn','Violet'],['Comp','Math','Sci']))
    index

[('Ada', 'Comp'),
 ('Ada', 'Math'),
 ('Ada', 'Sci'),
 ('Quinn', 'Comp'),
 ('Quinn', 'Math'),
 ('Quinn', 'Sci'),
 ('Violet', 'Comp'),
 ('Violet', 'Math'),
 ('Violet', 'Sci')]

In [114]:
headr = list(itertools.product(['Exams','Labs'],['I','II']))
headr

[('Exams', 'I'), ('Exams', 'II'), ('Labs', 'I'), ('Labs', 'II')]

In [115]:
indx = pd.MultiIndex.from_tuples(index,names=['Student','Course'])
indx

MultiIndex(levels=[[u'Ada', u'Quinn', u'Violet'], [u'Comp', u'Math', u'Sci']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]],
           names=[u'Student', u'Course'])

In [116]:
cols = pd.MultiIndex.from_tuples(headr)
cols

MultiIndex(levels=[[u'Exams', u'Labs'], [u'I', u'II']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [117]:
data = [[70+x+y+(x*y)%3 for x in range(4)] for y in range(9)]
data

[[70, 71, 72, 73],
 [71, 73, 75, 74],
 [72, 75, 75, 75],
 [73, 74, 75, 76],
 [74, 76, 78, 77],
 [75, 78, 78, 78],
 [76, 77, 78, 79],
 [77, 79, 81, 80],
 [78, 81, 81, 81]]

In [118]:
df = pd.DataFrame(data, indx, cols)
df

               Exams     Labs
                   I  II    I  II
Student Course
Ada     Comp      70  71   72  73
        Math      71  73   75  74
        Sci       72  75   75  75
Quinn   Comp      73  74   75  76
        Math      74  76   78  77
        Sci       75  78   78  78
Violet  Comp      76  77   78  79
        Math      77  79   81  80
        Sci       78  81   81  81

In [119]:
indx

MultiIndex(levels=[[u'Ada', u'Quinn', u'Violet'], [u'Comp', u'Math', u'Sci']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2], [0, 1, 2, 0, 1, 2, 0, 1, 2]],
           names=[u'Student', u'Course'])

In [120]:
cols

MultiIndex(levels=[[u'Exams', u'Labs'], [u'I', u'II']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [121]:
All = slice(None)
All

slice(None, None, None)

In [122]:
df.loc['Violet']

       Exams     Labs
           I  II    I  II
Course
Comp      76  77   78  79
Math      77  79   81  80
Sci       78  81   81  81

In [123]:
df.loc[(All, 'Math'), All]

               Exams     Labs
                   I  II    I  II
Student Course
Ada     Math      71  73   75  74
Quinn   Math      74  76   78  77
Violet  Math      77  79   81  80

In [124]:
df.loc[(slice('Ada', 'Quinn'), 'Math'), All]

               Exams     Labs
                   I  II    I  II
Student Course
Ada     Math      71  73   75  74
Quinn   Math      74  76   78  77

In [126]:
df.loc[(All, 'Math'), 'Exams']

                 I  II
Student Course
Ada     Math    71  73
Quinn   Math    74  76
Violet  Math    77  79

In [128]:
df.loc[(All, 'Math'), (All, 'II')]

               Exams Labs
                  II   II
Student Course
Ada     Math      73   74
Quinn   Math      76   77
Violet  Math      79   80

In [131]:
# sorting
df.sort_values(by=('Labs', 'II'), ascending=False)

               Exams     Labs
                   I  II    I  II
Student Course
Violet  Sci       78  81   81  81
        Math      77  79   81  80
        Comp      76  77   78  79
Quinn   Sci       75  78   78  78
        Math      74  76   78  77
        Comp      73  74   75  76
Ada     Sci       72  75   75  75
        Math      71  73   75  74
        Comp      70  71   72  73

In [132]:
# missing values
df = pd.DataFrame(np.random.randn(6,1), index=pd.date_range('2013-08-01', periods=6, freq='B'), columns=list('A'))

In [133]:
df

                   A
2013-08-01 -0.052551
2013-08-02 -0.507448
2013-08-05 -0.676871
2013-08-06  1.562225
2013-08-07 -0.538320
2013-08-08 -1.148240

In [134]:
df.ix[3,'A'] = np.nan

In [136]:
df

                   A
2013-08-01 -0.052551
2013-08-02 -0.507448
2013-08-05 -0.676871
2013-08-06       NaN
2013-08-07 -0.538320
2013-08-08 -1.148240

In [146]:
df.reindex(df.index[::-1]).ffill()
# df.ffill()

                   A
2013-08-08 -1.148240
2013-08-07 -0.538320
2013-08-06 -0.538320
2013-08-05 -0.676871
2013-08-02 -0.507448
2013-08-01 -0.052551

In [147]:
df = pd.DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(), 'size': list('SSMMMLL'), 'weight': [8, 10, 11, 1, 20, 12, 12], 'adult': [False] * 5 + [True] * 2})
df

   adult animal size  weight
0  False    cat    S       8
1  False    dog    S      10
2  False    cat    M      11
3  False   fish    M       1
4  False    dog    M      20
5   True    cat    L      12
6   True    cat    L      12

In [151]:
# List the size of the animals with the highest weight
df.groupby('animal')['weight'].idxmax()

animal
cat     5
dog     4
fish    3
Name: weight, dtype: int64

In [166]:
df.groupby('animal').apply(lambda subf: subf['size'] [subf['weight'].idxmax()])

animal
cat     L
dog     M
fish    M
dtype: object

In [167]:
# using get_group
gb = df.groupby('animal')
gb

In [169]:
gb.groups

{'cat': Int64Index([0, 2, 5, 6], dtype='int64'),
 'dog': Int64Index([1, 4], dtype='int64'),
 'fish': Int64Index([3], dtype='int64')}

In [171]:
gb.get_group('dog')

   adult animal size  weight
1  False    dog    S      10
4  False    dog    M      20

In [172]:
def GrowUp(x):
    avg_weight = sum(x[x['size'] == 'S'].weight * 1.5)
    avg_weight += sum(x[x['size'] == 'M'].weight * 1.25)
    avg_weight += sum(x[x['size'] == 'L'].weight)
    avg_weight /= len(x)
    return pd.Series(['L', avg_weight, True], index=['size', 'weight', 'adult'])

In [173]:
expected_df = gb.apply(GrowUp)

In [174]:
expected_df

       size   weight adult
animal
cat       L  12.4375  True
dog       L  20.0000  True
fish      L   1.2500  True

In [178]:
# Replacing some values with mean of the rest of a group
df = pd.DataFrame({'A' : [1, 1, 2, 2], 'B' : [1, -1, 1, 2]})
df

   A  B
0  1  1
1  1 -1
2  2  1
3  2  2

In [179]:
gb = df.groupby('A')
gb

In [186]:
def replace(g):
    mask = g < 0
    g.loc[mask] = g[~mask].mean()
    return g

gb.transform(replace)

In [187]:
df = pd.DataFrame({'code': ['foo', 'bar', 'baz'] * 2, 'data': [0.16, -0.21, 0.33, 0.45, -0.59, 0.62], 'flag': [False, True] * 3})
df

  code  data   flag
0  foo  0.16  False
1  bar -0.21   True
2  baz  0.33  False
3  foo  0.45   True
4  bar -0.59  False
5  baz  0.62   True

In [188]:
code_groups = df.groupby('code')

In [189]:
agg_n_sort_order = code_groups[['data']].transform(sum).sort_values(by='data')
agg_n_sort_order

   data
1 -0.80
4 -0.80
0  0.61
3  0.61
2  0.95
5  0.95

In [190]:
sorted_df = df.ix[agg_n_sort_order.index]
sorted_df

  code  data   flag
1  bar -0.21   True
4  bar -0.59  False
0  foo  0.16  False
3  foo  0.45   True
2  baz  0.33  False
5  baz  0.62   True

In [191]:
# create multiple aggregated columns
rng = pd.date_range(start="2014-10-07",periods=10,freq='2min')
rng

DatetimeIndex(['2014-10-07 00:00:00', '2014-10-07 00:02:00',
               '2014-10-07 00:04:00', '2014-10-07 00:06:00',
               '2014-10-07 00:08:00', '2014-10-07 00:10:00',
               '2014-10-07 00:12:00', '2014-10-07 00:14:00',
               '2014-10-07 00:16:00', '2014-10-07 00:18:00'],
              dtype='datetime64[ns]', freq='2T')

In [192]:
ts = pd.Series(data = list(range(10)), index = rng)
ts

2014-10-07 00:00:00    0
2014-10-07 00:02:00    1
2014-10-07 00:04:00    2
2014-10-07 00:06:00    3
2014-10-07 00:08:00    4
2014-10-07 00:10:00    5
2014-10-07 00:12:00    6
2014-10-07 00:14:00    7
2014-10-07 00:16:00    8
2014-10-07 00:18:00    9
Freq: 2T, dtype: int64

In [193]:
df = pd.DataFrame({'Color': 'Red Red Red Blue'.split(),'Value': [100, 150, 50, 50]})
df

  Color  Value
0   Red    100
1   Red    150
2   Red     50
3  Blue     50

In [194]:
df['Counts'] = df.groupby(['Color']).transform(len)

In [195]:
df

  Color  Value  Counts
0   Red    100       3
1   Red    150       3
2   Red     50       3
3  Blue     50       1

In [196]:
df = pd.DataFrame({'line_race': [10, 10, 8, 10, 10, 8], 'beyer': [99, 102, 103, 103, 88, 100]}, \
                 index = ['Last Gunfighter', 'Last Gunfighter', 'Last Gunfighter', 'Paynter', 'Paynter', 'Paynter'])
df

                 beyer  line_race
Last Gunfighter     99         10
Last Gunfighter    102         10
Last Gunfighter    103          8
Paynter            103         10
Paynter             88         10
Paynter            100          8

In [202]:
# shift groups of the values in the column based on index
df['beyer_shifted'] = df.groupby(level=0)['beyer'].shift(1)
df['line_race_shifted'] = df.groupby(level=0)['line_race'].shift(1)
df

                 beyer  line_race  beyer_shifted  line_race_shifted
Last Gunfighter     99         10            NaN                NaN
Last Gunfighter    102         10           99.0               10.0
Last Gunfighter    103          8          102.0               10.0
Paynter            103         10            NaN                NaN
Paynter             88         10          103.0               10.0
Paynter            100          8           88.0               10.0

In [204]:
# select row with maximum value from each group
df = pd.DataFrame({'host':['other','other','that','this','this'], 'service':['mail','web','mail','mail','web'], \
                   'no':[1, 2, 1, 2, 1]}).set_index(['host', 'service'])
df

               no
host  service
other mail      1
      web       2
that  mail      1
this  mail      2
      web       1

In [212]:
mask = df.groupby(level=0).agg('idxmax')
mask

                 no
host
other  (other, web)
that   (that, mail)
this   (this, mail)

In [208]:
df_count = df.loc[mask['no']].reset_index()
df_count

    host service  no
0  other     web   2
1   that    mail   1
2   this    mail   2

In [213]:
# splitting a frame
df = pd.DataFrame(data={'Case' : ['A','A','A','B','A','A','B','A','A'],'Data' : np.random.randn(9)})
df

  Case      Data
0    A -0.176464
1    A  0.413269
2    A -0.292336
3    B -1.103208
4    A -0.241142
5    A -0.322845
6    B -0.431744
7    A  0.840198
8    A  0.829843

In [214]:
dfs = list(zip(*df.groupby((1*(df['Case']=='B')).cumsum().rolling(window=3, min_periods=1).median())))[-1]
dfs

(  Case      Data
 0    A -0.176464
 1    A  0.413269
 2    A -0.292336
 3    B -1.103208,   Case      Data
 4    A -0.241142
 5    A -0.322845
 6    B -0.431744,   Case      Data
 7    A  0.840198
 8    A  0.829843)

In [217]:
dfs[2]

  Case      Data
7    A  0.840198
8    A  0.829843

In [218]:
# pivot
df = pd.DataFrame(data={'Province' : ['ON','QC','BC','AL','AL','MN','ON'], \
                        'City' : ['Toronto','Montreal','Vancouver','Calgary','Edmonton','Winnipeg','Windsor'], \
                        'Sales' : [13,6,16,8,4,3,1]})
df

        City Province  Sales
0    Toronto       ON     13
1   Montreal       QC      6
2  Vancouver       BC     16
3    Calgary       AL      8
4   Edmonton       AL      4
5   Winnipeg       MN      3
6    Windsor       ON      1

In [219]:
table = pd.pivot_table(df,values=['Sales'],index=['Province'],columns=['City'],aggfunc=np.sum,margins=True)
table

           Sales
City     Calgary Edmonton Montreal Toronto Vancouver Windsor Winnipeg   All
Province
AL           8.0      4.0      NaN     NaN       NaN     NaN      NaN  12.0
BC           NaN      NaN      NaN     NaN      16.0     NaN      NaN  16.0
MN           NaN      NaN      NaN     NaN       NaN     NaN      3.0   3.0
ON           NaN      NaN      NaN    13.0       NaN     1.0      NaN  14.0
QC           NaN      NaN      6.0     NaN       NaN     NaN      NaN   6.0
All          8.0      4.0      6.0    13.0      16.0     1.0      3.0  51.0