In [1]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([33, 19, 15, 89, 11, -5, 9])

In [4]:
s1

0    33
1    19
2    15
3    89
4    11
5    -5
6     9
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
s1.values

array([33, 19, 15, 89, 11, -5,  9])

In [8]:
type(s1.values)

numpy.ndarray

In [9]:
s1.index

RangeIndex(start=0, stop=7, step=1)

In [10]:
s1

0    33
1    19
2    15
3    89
4    11
5    -5
6     9
dtype: int64

# Create a Series object with meaningful labels

In [11]:
data1 = [33, 19, 15, 89, 11, -5, 9]
index1 = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [12]:
s2 = pd.Series(data1, index=index1)

In [13]:
s2

Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
dtype: int64

In [14]:
s2.name = 'Daily Temperatures'
s2.index.name = 'Weekdays'

In [15]:
s2

Weekdays
Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
Name: Daily Temperatures, dtype: int64

In [17]:
data2 = [33, 19.3, 15, 89, 11, -5, 9]

In [18]:
s3 = pd.Series(data2, index=index1)

In [19]:
s3

Mon    33.0
Tue    19.3
Wed    15.0
Thu    89.0
Fri    11.0
Sat    -5.0
Sun     9.0
dtype: float64

In [20]:
dict1 = {'Mon': 33, 'Tue': 19, 'Wed': 15, 'Thu': 89, 'Fri': 11, 'Sat': -5, 'Sun': 9}

In [21]:
s4 = pd.Series(dict1)

In [22]:
s4

Fri    11
Mon    33
Sat    -5
Sun     9
Thu    89
Tue    19
Wed    15
dtype: int64

Series is nd-array like

In [23]:
s4

Fri    11
Mon    33
Sat    -5
Sun     9
Thu    89
Tue    19
Wed    15
dtype: int64

In [24]:
s4 * 2

Fri     22
Mon     66
Sat    -10
Sun     18
Thu    178
Tue     38
Wed     30
dtype: int64

In [25]:
np.log(s4)

/home/ano/jupyter-notebook/lib/python2.7/site-packages/ipykernel/__main__.py:1: RuntimeWarning: invalid value encountered in log
  if __name__ == '__main__':

Fri    2.397895
Mon    3.496508
Sat         NaN
Sun    2.197225
Thu    4.488636
Tue    2.944439
Wed    2.708050
dtype: float64

In [26]:
s4['Thu':'Wed']

Thu    89
Tue    19
Wed    15
dtype: int64

In [27]:
s4[1] = 199
s4

Fri     11
Mon    199
Sat     -5
Sun      9
Thu     89
Tue     19
Wed     15
dtype: int64

In [28]:
s4.max()

199

In [29]:
s4.cumsum()

Fri     11
Mon    210
Sat    205
Sun    214
Thu    303
Tue    322
Wed    337
dtype: int64

In [30]:
for i, v in enumerate(s4):
    print i, v

0 11
1 199
2 -5
3 9
4 89
5 19
6 15