In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows', 10)

In [3]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [4]:
auto = pd.read_csv('data/auto.csv')

In [5]:
auto.head()

   make  price  mpg  repairs  weight  length  foreign
0   AMC   4099   22        3    2930     186        0
1   AMC   4749   17        3    3350     173        0
2   AMC   3799   22        3    2640     168        0
3  Audi   9690   17        5    2830     189        1
4  Audi   6295   23        3    2070     174        1


# apply filters

In [7]:
# search in column "foreign" for value equal to 1
auto.foreign == 1

0     False
1     False
2     False
3      True
4      True
      ...
21    False
22     True
23     True
24     True
25     True
Name: foreign, dtype: bool

In [ ]:
# set variable "mask" to the search filter
mask = auto.foreign == 1
ma