In [1]:
import pandas as pd
import numpy as np

In [3]:
s1 = pd.Series([33, 19, 15, 89, 11, -5, 9])

In [4]:
s1

0    33
1    19
2    15
3    89
4    11
5    -5
6     9
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
s1.values

array([33, 19, 15, 89, 11, -5,  9])

In [8]:
type(s1.values)

numpy.ndarray

In [9]:
s1.index

RangeIndex(start=0, stop=7, step=1)

In [10]:
s1

0    33
1    19
2    15
3    89
4    11
5    -5
6     9
dtype: int64

# Create a Series object with meaningful labels

In [11]:
data1 = [33, 19, 15, 89, 11, -5, 9]
index1 = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [12]:
s2 = pd.Series(data1, index=index1)

In [13]:
s2

Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
dtype: int64

In [14]:
s2.name = 'Daily Temperatures'
s2.index.name = 'Weekdays'

In [15]:
s2

Weekdays
Mon    33
Tue    19
Wed    15
Thu    89
Fri    11
Sat    -5
Sun     9
Name: Daily Temperatures, dtype: int64